services:
  iris-training:
    build: 
      args:
        IMAGE: ${IMAGE_IRIS_DEV_PREVIEW}
      context: iris-training
    image: iris-training  
    restart: always
    hostname: iris-training
    container_name: iris-training
    environment:
      - TZ=$TZ
      - ISC_DATA_DIRECTORY=${ISC_DATA_DIRECTORY_TRAINING}
      - ISC_CPF_MERGE_FILE=/merge.cpf
    ports: 
      - 11972:1972
      - 10000:52773
    volumes:
      - ./iris-training:/irisdev/app
      - ./jdbc:/jdbc
      - ./databases/iris-training:${ISC_DATA_DIRECTORY_TRAINING}
      - ./journal-training:/journal-training
      - ./journal2-training:/journal2-training
      - ./WIJ-training:/WIJ-training
      - ./merge-training.cpf:/merge.cpf

  iris-prod-1:
    build: 
      args:
        IMAGE: ${IMAGE_IRIS_PROD_PREVIEW}
      context: iris-prod
    image: iris-prod-1
    restart: always
    init: true
    container_name: iris-prod-1
    hostname: iris-prod-1
    volumes:
    - ./iris-prod:/irisdev/app
    - ./jdbc:/jdbc
    - ./databases/iris-prod-1:${ISC_DATA_DIRECTORY_PROD_1}
    - ./journal-prod-1:/journal-prod-1
    - ./journal2-prod-1:/journal2-prod-1
    - ./WIJ-prod-1:/WIJ-prod-1
    - ./merge-prod-1.cpf:/merge.cpf
    - type: bind
      source: ./iris-prod
      target: /iris-prod-1
    - type: bind
      source: ./webgateway/cert
      target: /opt/cert
    environment:
      - TZ=$TZ
      - ISC_DATA_DIRECTORY=${ISC_DATA_DIRECTORY_PROD_1}   
      - ISC_CPF_MERGE_FILE=/merge.cpf
    ports:
      - 10001:1972
    command: --key /iris-prod-1/key/iris.key -a /iris-prod-1/configure.sh
  
  iris-prod-2:
    build: 
      args:
        IMAGE: ${IMAGE_IRIS_PROD_PREVIEW}
      context: iris-prod
    image: iris-prod-2
    restart: always
    init: true
    container_name: iris-prod-2
    hostname: iris-prod-2
    volumes:
    - ./iris-prod:/irisdev/app
    - ./jdbc:/jdbc
    - ./databases/iris-prod-2:${ISC_DATA_DIRECTORY_PROD_2}
    - ./journal-prod-2:/journal-prod-2
    - ./journal2-prod-2:/journal2-prod-2
    - ./WIJ-prod-2:/WIJ-prod-2
    - ./merge-prod-2.cpf:/merge.cpf
    - type: bind
      source: ./iris-prod
      target: /iris-prod-2
    - type: bind
      source: ./webgateway/cert
      target: /opt/cert
    environment:
      - TZ=$TZ
      - ISC_DATA_DIRECTORY=${ISC_DATA_DIRECTORY_PROD_2}
      - ISC_CPF_MERGE_FILE=/merge.cpf
    ports:
      - 10002:1972
    command: --key /iris-prod-2/key/iris.key -a /iris-prod-2/configure.sh

  webgateway:
    image: ${WEBGATEWAY}
    init: true
    hostname: ${WEBGATEWAY_NAME}
    ports:
    - ${WEBGATEWAY_PORT_HTTP}:80
    - ${WEBGATEWAY_PORT_HTTPS}:443
    environment:
    - ISC_CSP_CONF_FILE=/webgateway/CSP.conf
    - ISC_CSP_INI_FILE=/webgateway/CSP.ini
    volumes:
    - type: bind
      source: ./webgateway
      target: /webgateway
    - type: bind
      source: ./webgateway/cert
      target: /opt/cert

  notebook:
    image: notebook
    build: 
      context: notebook
    ports:
      - "8889:8888"
    volumes:
      - ./notebook/Notebooks:/Notebooks
    command: "start-notebook.sh --NotebookApp.token='' --NotebookApp.password='' --notebook-dir=/Notebooks"

  # postgres:
  #   container_name: training-postgres
  #   image: postgres:latest
  #   environment:
  #     POSTGRES_PASSWORD: postgres
  #   volumes:
  #     - ./postgreSQL:/docker-entrypoint-initdb.d/
  #     - ./databases/postgreSQL:/var/lib/postgresql/data
  #   ports:
  #     - 52004:5432
  #   restart: unless-stopped
  #   healthcheck:
  #       test: ["CMD", "pg_isready", "-U", "postgres"]
  #       interval: 30s
  #       timeout: 30s
  #       retries: 3

# volumes:
#   databases/iris-training:
#   databases/iris-prod-1:
#   databases/iris-prod-2:
#   journal-training:
#   journal2-training:
#   WIJ-training:
#   journal-prod-1:
#   journal2-prod-1:
#   WIJ-prod-1:
#   journal-prod-2:
#   journal2-prod-2:
#   WIJ-prod-2:
